<% include ./partials/header %>

  <h1>Sign Up </h1>
  
  <form action="/register" method="POST">
    <input type='text' name='username' placeholder='username' autocomplete='off'>
    <input type='password' name='password' placeholder='password' autocomplete='off'>
    <button>Log In</button>
  </form>

<% include ./partials/footer %>
